$standard-margin: 50px;

* {
  padding: 0;
  margin: 0;
}

header {
  //background: url("../img/keyboardLight.jpg");
  background-color: #d07c7c;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //margin: auto;
  min-height: 500px;
  height: 100%;
  //text-align: center;

  .text {
    background: transparent;
    color: white;
    margin-left: 75px;
  }

  h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 75px;
    font-weight: 100;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.about-me {
  display: flex;
  justify-content: center;
  margin: $standard-margin;
  text-align: center;

  div {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-height: 350px;
    width: 100%;

    &:first-child {
      background: grey;
      margin-right: 75px;
    }

    &:nth-child(2) {
      background: oraange;
    }
  }
}
