* {
  background: black;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 500px;
  height: 100%;
}

header .text {
  background: transparent;
  color: white;
  margin-left: 75px;
}

header h1,
header p {
  background: transparent;
}

header h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 75px;
  font-weight: 100;
}

header p {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-top: 10px;
  text-transform: uppercase;
}

.skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 20px;
}

.skill-set h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  margin: auto;
  text-decoration: none;
}

.skill-set h2 .underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 105%;
  -webkit-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
}

.skill-set h2 .underline--magical:hover {
  background-size: 100% 88%;
  color: blue;
}

.skill-set ul {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 1250px;
}

@media only screen and (min-width: 960px) {
  .skill-set ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
  }
}

.skill-set li {
  height: 100%;
  list-style-type: none;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 960px) {
  .skill-set li {
    padding: 0 50px;
    width: 33%;
  }
}

.skill-set li div {
  width: 100%;
  height: 100%;
}

.skill-set li img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 150px;
}

.skill-set li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skill-set li p {
  margin-top: 10px;
}

.clients-served {
  margin: 50px 20px;
}

.clients-served h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}

.clients-served ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.clients-served li {
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  list-style-type: none;
  margin-bottom: 40px;
  text-align: left;
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
  width: 100%;
}

@media only screen and (min-width: 960px) {
  .clients-served li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 15px 15px 0;
    width: 30%;
  }
}

.clients-served li:hover {
  -webkit-box-shadow: 0 2px 16px #c4c4c7;
          box-shadow: 0 2px 16px #c4c4c7;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.clients-served li a {
  text-decoration: none;
}

.clients-served li .img-wrapper {
  background: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  padding: 50px 5px;
  text-align: center;
}

.clients-served li img {
  background: transparent;
  margin: 0 auto;
  width: 150px;
}

.clients-served li p {
  margin: 30px 0;
  padding: 0 20px;
}

footer {
  background: white;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 20px;
  text-align: center;
}

.about-me div {
  border: 1px solid orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  min-height: 350px;
  width: 100%;
}

.about-me div:first-child {
  background: grey;
  margin-right: 75px;
}

.about-me div:nth-child(2) {
  background: oraange;
}
/*# sourceMappingURL=main.css.map */