$primary-font: "Work Sans", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$standard-margin: 50px 20px;
$desktop: 960px;

@mixin section-headers {
  font-family: $primary-font;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

* {
  //background: purple;
  color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  //background: url("../img/keyboardLight.jpg");
  //background-color: #d07c7c;
  border-bottom: 1px solid white;
  box-shadow: 5px 10px #888888;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //margin: auto;
  min-height: 500px;
  height: 100%;
  //text-align: center;

  .text {
    background: transparent;
    color: white;
    margin-left: 75px;
  }

  h1,
  p {
    background: transparent;
  }

  h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 75px;
    font-weight: 100;
    text-transform: uppercase;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.skill-set {
  background: beige;
  //margin: $standard-margin;

  .container {
    @media only screen and (min-width: $desktop) {
      display: flex;
      margin: 0 auto;
      max-width: 1000px;
      padding: 50px;
    }
  }

  h2 {
    @include section-headers();
    font-size: 40px;
    margin: auto 45px auto 0;
    text-decoration: none;

    .underline--magical {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 105%;
      transition: background-size 0.25s ease-in;

      &:hover {
        background-size: 100% 88%;
        color: blue;
      }
    }
  }

  ul {
    align-items: stretch;
    border-left: 1px dashed black;
    font-family: $secondary-font;
    margin: 0 auto;
    max-width: 1250px;

    @media only screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-around;
      flex-basis: 1;
    }
  }

  li {
    //border: 1px solid black;
    height: 100%;
    list-style-type: none;
    margin: 30px auto 0;
    position: relative;
    text-align: center;
    width: 100%;

    @media only screen and (min-width: $desktop) {
      padding: 0 50px;
      width: 33%;
    }

    div {
      width: 100%;
      height: 100%;
    }

    img {
      transition: all 0.5s ease-in-out;
      width: 150px;

      &:hover {
        transform: scale(1.1);
      }
    }

    p {
      margin-top: 10px;
      //position: absolute;
    }
  }
}

.clients-served {
  margin: $standard-margin;

  h2 {
    @include section-headers();
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    font-family: $secondary-font;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  li {
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    list-style-type: none;
    margin-bottom: 40px;
    text-align: left;
    transition: 0.5s all ease;
    width: 100%;
    overflow: hidden;

    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      margin: 0 15px 15px 0;
      width: 30%;
    }

    &:hover {
      box-shadow: 0 2px 16px #c4c4c7;
      transform: translateY(-12px);
    }

    a {
      text-decoration: none;
    }

    .img-wrapper {
      background: beige;
      border-bottom: 2px dashed grey;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 150px;
      padding: 50px 5px;
      text-align: center;
    }

    img {
      background: transparent;
      margin: 0 auto;
      width: 150px;
    }
    p {
      margin: 30px 0;
      padding: 0 20px;
    }
  }
}

footer {
  background: white;
}

.about-me {
  display: flex;
  justify-content: center;
  margin: $standard-margin;
  text-align: center;

  div {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-height: 350px;
    width: 100%;

    &:first-child {
      background: grey;
      margin-right: 75px;
    }

    &:nth-child(2) {
      background: oraange;
    }
  }
}
