$primary-font: "Work Sans", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$standard-margin: 50px 20px;
$desktop: 960px;

@mixin section-headers {
  font-family: $primary-font;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

* {
  //background: purple;
  color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  //background: url("../img/keyboardLight.jpg");
  //background-color: #d07c7c;
  border-bottom: 1px solid white;
  box-shadow: 5px 10px #888888;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //margin: auto;
  min-height: 620px;
  height: 100%;
  //text-align: center;

  .text {
    background: transparent;
    color: white;
    margin-left: 50px;

    @media only screen and (min-width: $desktop) {
      margin-left: 75px;
    }
  }

  h1,
  p {
    background: transparent;
  }

  h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 75px;
    font-weight: 100;
    text-transform: uppercase;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.skill-set {
  background: beige;

  .container {
    padding: 50px;
    @media only screen and (min-width: $desktop) {
      display: flex;
      margin: 0 auto;
      max-width: 1000px;
    }
  }

  h2 {
    @include section-headers();
    font-size: 40px;
    text-decoration: none;

    @media only screen and (min-width: $desktop) {
      margin: auto 45px auto 0;
    }

    .underline--magical {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 105%;
      transition: background-size 0.25s ease-in;

      &:hover {
        background-size: 100% 88%;
        color: blue;
      }
    }
  }

  ul {
    align-items: stretch;
    font-family: $secondary-font;
    margin: 0 auto;
    max-width: 1250px;
    padding: 0;

    @media only screen and (min-width: $desktop) {
      align-items: center;
      border-left: 1px dashed black;
      border-bottom-left-radius: 15px;
      display: flex;
      justify-content: space-around;
      flex-basis: 1;
    }
  }

  li {
    height: 100%;
    list-style-type: none;
    margin: 30px auto 0;
    position: relative;
    text-align: center;
    width: 100%;

    @media only screen and (min-width: $desktop) {
      padding: 0 33px;
      width: 33%;
    }

    div {
      width: 100%;
      height: 100%;
    }

    img {
      transition: all 0.5s ease-in-out;
      width: 50%;

      @media only screen and (min-width: $desktop) {
        width: 100%;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    p {
      margin-top: 10px;
      //position: absolute;
    }
  }
}

.clients-served {
  margin: $standard-margin;

  h2 {
    @include section-headers();
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    font-family: $secondary-font;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  li {
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    list-style-type: none;
    margin-bottom: 40px;
    text-align: left;
    transition: 0.5s all ease;
    width: 100%;
    overflow: hidden;

    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      margin: 0 15px 15px 0;
      width: 30%;
    }

    &:hover {
      box-shadow: 0 2px 16px #c4c4c7;
      transform: translateY(-12px);
    }

    a {
      text-decoration: none;
    }

    .wrapper {
      align-items: center;
      background: beige;
      border-bottom: 2px dashed grey;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      display: flex;
      height: 150px;
      justify-content: center;
      padding: 50px 5px;
      text-align: center;
    }

    img {
      background: transparent;
      margin: 0 auto;
      width: 150px;
    }
    p {
      margin: 30px 0;
      padding: 0 20px;
    }
  }
}

footer {
  background: beige;
  height: 100%;
  width: 100%;

  .wrapper {
    margin: $standard-margin;
    padding: 50px 20px 50px;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      margin: auto;
      max-width: 1350px;
    }
  }
  .about {
    font-family: $primary-font;

    @media only screen and (min-width: $desktop) {
      align-items: center;
      border-right: 1px dashed black;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: center;
      padding-right: 20px;
    }

    .personal-photo {
      border: 1px dashed black;
      border-radius: 100%;
      height: 300px;
      margin: auto auto 20px;
      overflow: hidden;
      position: relative;
      transition: 1s all ease;
      width: 300px;

      &:hover {
        transform: rotate(360deg);
      }

      @media only screen and (min-width: $desktop) {
        margin-bottom: 0;
      }

      img {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: -5px;
        width: 100%;
      }
    }

    p {
      font-family: $secondary-font;
      @media only screen and (min-width: $desktop) {
        font-size: 20px;
        text-align: left;
        margin-left: 30px;
        /* margin: auto; */
        max-width: 500px;
      }

      .txt-decoration {
        font-family: $primary-font;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }
  }

  .lang-icons-section {
    margin: 20px auto 20px;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      flex: 30%;
      margin: auto 0 auto 20px;
    }

    p {
      font-family: $primary-font;
      font-weight: 900;
      margin-bottom: 20px;
      text-decoration: underline;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media only screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        list-style-type: none;
        margin: 0 10px 15px 0;
        position: relative;
        width: 80px;

        &:hover .tooltip {
          visibility: visible;
        }

        .tooltip {
          font-family: $secondary-font;
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
          position: absolute;
          top: -28px;
          z-index: 1;
        }
        img {
          transition: 0.5s all ease;
          width: 80px;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
