@import "_utils";

.clients-served {
  margin: $standard-margin;

  h2 {
    @include section-headers();
    margin-bottom: 40px;
  }
  div {
    display: flex;
    font-family: $secondary-font;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .card {
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    list-style-type: none;
    margin-bottom: 40px;
    text-align: left;
    width: 100%;
    overflow: hidden;

    @include breakpoint($desktop) {
      display: flex;
      flex-direction: column;
      margin: 0 15px 15px 0;
      width: 30%;
    }

    a {
      text-decoration: none;
      color: blue;
    }

    .wrapper {
      align-items: center;
      background: #12619f;
      border-bottom: 2px dashed grey;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      display: flex;
      height: 150px;
      justify-content: center;
      padding: 50px 5px;
      text-align: center;
    }

    img {
      background: transparent;
      margin: 0 auto;
      width: 150px;
    }
    p {
      margin: 30px 0;
      padding: 0 20px;
    }
  }
}
