<section
  id="about"
  class="about animate"
  data-animated-element=".tech-skills"
  data-animate-class="fadeIn"
>
  <div class="personal-photo">
    <img
      src="img/Rakesh caricature.jpg"
      alt=""
    />
  </div>
  <div class="wrapper">
    <p>
      I'm <span class="txt-decoration">Rakesh</span>, a lawyer by training
      but a technologist at heart. I like new challenges and solving big
      problems with tech-based solutions. I'm a fast learner, picking up
      tools as needed with a preference in keeping things simple and
      concise. For fun, I digitally nomad, cycle, and practice The Office
      humor. Reach out to connect!
    </p>
    {% include "partials/tech-skills.njk" %}
  </div>
</section>
