  <section class="clients-served">
    <h2>Portfolio</h2>
    <div class="container">
    {% for client in clientsServed %}
      <div
        class="card">
        <a href="">
          <div
            class="wrapper cfa"
            style="background-image:url('{{client.img}}');"
          >
          </div>
          <p>
          {{client.workDescription}}
          </p>
        </a>
      </div>
    </div>
    {% endfor %}

  </section>