<section class="clients-served">
  <div class="container">
    {% for project in projects %}
    <a href="">
      <div
        class="img"
        style="background-image: url('{{project.img}}')"
      ></div>
      <div class="overlay">
        <h4>{{project.name}}</h4>
        <p>{{project.description}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
