<section class="clients-served">
  <h2>Portfolio</h2>
  <div class="container">
    {% for project in projects %}
    <a
      href=""
      style="background-image: url('{{project.img}}')"
    >
      <p>
        {{project.description}}
      </p>
    </a>
    {% endfor %}
  </div>
</section>
