<section
	id="contact"
	class="contact-form animate"
	data-animated-element=".wrapper"
	data-animate-class="scaleAnim"
>
	<div class="wrapper">
		<div class="header">
			<h3>Let's Chat</h3>
			<p>Reach out to connect or discuss freelance or other projects</p>
		</div>
		<form
			id="my-form"
			action="https://formspree.io/myynypdn"
			method="POST"
		>
			<div>
				<input
					name="_name"
					placeholder=" "
					type="text"
					required
				/>
				<label>Your Name</label>
			</div>
			<div>
				<input
					type="email"
					placeholder=" "
					name="email"
					required
				/>
				<label>Your Email</label>
			</div>
			<div>
				<textarea
					placeholder=" "
					name="message"
					cols="30"
					rows="1"
					required
				></textarea>
				<label>Message</label>
			</div>
			<button id="my-form-button">Submit</button>
			<p id="my-form-status"></p>
		</form>
	</div>
</section>
