<footer>
  <ul>
    {% for socialIcon in socialIcons%}
    <li>
      <a
        href="{{socialIcon.href}}"
        target="_blank"
      >
        <img
          src="{{socialIcon.icon}}"
          alt="{{socialIcon.name}}"
        >
      </a>
    </li>
    {% endfor %}
  </ul>
</footer>
