  <header>
    <div class="title">
      <h2>Rakesh</h2>
      <h3>A Web Developer</h3>
    </div>
    <ul class="social-icons">
      <li><img
          src="img/socialIcons/inbox.svg"
          alt="email"
        /></li>
      <li><img
          src="img/socialIcons/github.svg"
          alt="github"
        /></li>
      <li><img
          src="img/socialIcons/linkedin.svg"
          alt="linkedin"
        /></li>
      <li><img
          src="img/socialIcons/instagram.svg"
          alt="instagram"
        /></li>
      <li><img
          src="img/socialIcons/twitter.svg"
          alt="twitter"
        /></li>
    </ul>
</header>