  <section class="hero">
    <canvas id="cw">
    </canvas>
    <div class="text">
      <p>I'm</p>
      <h1 class="name">Rakesh</h1>
      <p>A UI Developer</p>
      <button>Check out my work</button>
    </div>
  </section>