<nav class="navBar">
  <div class="info">
    <h1>Rakesh Patel</h1>
    <p>UI Developer</p>
  </div>
  <ul>
    {% for nav in navigation %}
    <li>
      <a
        data-link-to={{nav.href}}
        href="{{ nav.href }}"
      >
        {{ nav.title | upper }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
