<nav class="navBar">
  <div class="info">
    <h1>Rakesh Patel</h1>
    <p>UI Developer</p>
  </div>
  <ul>
    {% for nav in navigation %}
    <li>
      <a href="{{ nav.href }}">
        {{ nav.title | upper }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
<script>

  window.addEventListener('DOMContentLoaded', () => {
    const navBar = document.querySelector('.navBar');
    const navBarTop = navBar.offsetTop - 100;

    const personalPhoto = document.querySelector('.personal-photo');
    const personalPhotoTop = personalPhoto.offsetTop;

    const skills = document.querySelector('.tech-skills');

    window.addEventListener("scroll", () => {
      //console.log(navBar);
      if (navBarTop < window.scrollY) {
        navBar.classList.add('fixed');
        navBar.classList.add('expand')
      } else {
        navBar.classList.remove('fixed');
        navBar.classList.remove('expand')
      }

      if (personalPhotoTop < window.scrollY) {
        skills.classList.add('animate')
      }
    })
  })
</script>
<script>
  const navBar = document.querySelector('.navBar');
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth',
      });
    });
  });
</script>
