<section class="skill-set">
    <div class="container">
        <h2>
            Combining
            <span class="underline--magical"><a
                    href="https://artsandculture.google.com/"
                    target="_blank"
                >Art</a>
            </span>
            &
            <span class="underline--magical"><a
                    href="https://developer.mozilla.org/en-US/docs/Learn"
                    target="_blank"
                >
                    Code</a></span>
        </h2>
        <ul>
            {% for skill in skillSets %}
            <li>
                <div>
                    <img
                        src="{{skill.img}}"
                        alt=""
                    />
                    <p>
                        {{skill.skill}}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
