{% extends "layout.njk" %}

{% block top %}

{% include "partials/navbar.njk" %}
{% include "partials/hero.njk" %}

{% endblock %}

{% block main %}

{% include "partials/skill-set.njk" %}
{% include "partials/about-me.njk" %}
{% include "partials/clients-served.njk" %}
{% include 'partials/contact.njk' %}
{% include 'partials/footer.njk' %}

{% endblock %}
