@import "_utils";

.about {
  font-family: $primary-font;

  @include breakpoint($desktop) {
    align-items: center;
    padding-right: 20px;
  }

  .personal-photo {
    border: 1px dashed black;
    border-bottom: 2px solid black;
    border-right: 12px solid black;
    border-radius: 50px;
    height: 410px;
    margin: auto auto 20px;
    overflow: hidden;
    position: relative;
    transition: 1s all ease;
    width: 310px;

    @include breakpoint($desktop) {
      margin-bottom: 0;
    }

    img {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: -5px;
      width: 100%;
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    margin: 75px 0 100px;
  }

  p {
    font-family: $secondary-font;
    margin-bottom: 50px;
    padding: 0 50px;
    text-align: center;

    @include breakpoint($desktop) {
      flex-basis: 45%;
      font-size: 25px;
      margin: auto 50px auto 0;
      max-width: 750px;
      text-align: left;
    }

    .txt-decoration {
      font-family: $primary-font;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  @keyframes animatedWidth {
    from {
      opacity: 0;
      width: 0;
    }

    to {
      opacity: 1;
      width: 500px;
    }
  }

  .tech-skills {
    &.animate {
      .bar {
        animation: animatedWidth 1s ease-in-out;
        animation-fill-mode: forwards;
      }
    }

    h2 {
      display: none;
      margin-bottom: 30px;
      text-align: center;
    }

    .bar {
      --stagger-delay: 100ms;
      border: 1px solid black;
      border-radius: 5px;
      height: 40px;
      margin-bottom: 5px;
      position: relative;
      width: 500px;

      &:nth-child(1) {
        animation-delay: calc(1 * var(--stagger-delay));
      }

      &:nth-child(2) {
        animation-delay: calc(2 * var(--stagger-delay));
      }

      &:nth-child(3) {
        animation-delay: calc(3 * var(--stagger-delay));
      }

      &:nth-child(4) {
        animation-delay: calc(4 * var(--stagger-delay));
      }

      &:nth-child(5) {
        animation-delay: calc(5 * var(--stagger-delay));
      }

      &:nth-child(6) {
        animation-delay: calc(6 * var(--stagger-delay));
      }

      &:nth-child(7) {
        animation-delay: calc(7 * var(--stagger-delay));
      }

      &:nth-child(8) {
        animation-delay: calc(8 * var(--stagger-delay));
      }

      &:last-child {
        animation-delay: calc(9 * var(--stagger-delay));
      }
    }

    span {
      background: $main-pink;
      color: white;
      height: 100%;
      padding: 10px;
      position: absolute;
      width: 400px;
      transition: width 0.5s ease;
    }
  }
}
