@import "_utils";

.hero {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  @include breakpoint($desktop) {
    height: 1000px;
  }

  .text {
    align-items: center;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
  }

  h1,
  p {
    background: transparent;
  }

  h1 {
    border-bottom: 3px solid $main-pink;
    font-family: "Work Sans", sans-serif;
    font-size: 75px;
    font-weight: 100;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 55px;
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  button {
    background: black;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    outline: 0;
    padding: 20px;
    transition: 0.3s all ease-out;

    &:hover {
      color: $main-pink;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
