@import "_utils";

.skill-set {
  //background: white;
  color: black;

  .container {
    padding: 50px 20px;
    @include breakpoint($desktop) {
      display: flex;
      margin: 0 auto;
      max-width: 1000px;
      padding: 50px;
    }
  }

  h2 {
    @include section-headers();
    font-size: 40px;
    text-decoration: none;

    @include breakpoint($desktop) {
      margin: auto 45px auto 0;
    }

    a {
      text-decoration: none;
    }

    .underline--magical {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 105%;
      transition: background-size 0.25s ease-in;

      &:hover {
        background-size: 100% 88%;
        color: blue;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    font-family: $secondary-font;
    margin: 30px auto;
    overflow-x: scroll;
    padding: 0;
    white-space: nowrap;

    @include breakpoint($desktop) {
      align-items: center;
      border-left: 1px dashed black;
      border-bottom-left-radius: 15px;
      display: flex;
      justify-content: space-around;
      flex-basis: 1;
      height: 100%;
      margin: 0 auto;
      max-width: 1250px;
      white-space: normal;
    }
  }

  li {
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100vw;

    @include breakpoint($desktop) {
      padding: 10px 33px;
      width: 33%;
    }

    div {
      width: 100%;
      height: 100%;
    }

    img {
      transition: all 0.5s ease-in-out;
      width: 50%;

      @include breakpoint($desktop) {
        width: 100%;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    p {
      margin-top: 10px;
      //position: absolute;
    }
  }
  .wrapper {
    margin: $standard-margin;
    padding: 50px 20px 50px;
    text-align: center;

    @include breakpoint($desktop) {
      display: flex;
      margin: auto;
      max-width: 1350px;
    }
  }
  .about {
    font-family: $primary-font;

    @include breakpoint($desktop) {
      align-items: center;
      padding-right: 20px;
    }

    .personal-photo {
      border: 1px dashed black;
      border-bottom: 2px solid black;
      border-right: 5px solid black;
      border-radius: 50px;
      height: 300px;
      margin: auto auto 20px;
      overflow: hidden;
      position: relative;
      transition: 1s all ease;
      width: 300px;

      @include breakpoint($desktop) {
        margin-bottom: 0;
      }

      img {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: -5px;
        width: 100%;
      }
    }

    p {
      font-family: $secondary-font;
      @include breakpoint($desktop) {
        font-size: 15px;
        margin: 25px 0 0 30px;
        max-width: 500px;
        text-align: center;
      }

      .txt-decoration {
        font-family: $primary-font;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }
  }

  .tech-skills {
    border: 1px solid black;
    width: 50%;
  }
}
